{
    "presets": [
      "next/babel"
    ],
    "plugins": [
      [
        "styled-components",
        {
          "csr": true,
          "displayName": true,
          "preprocess": false
        }
      ]
    ]
  }